.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

label {
  display: inline-block;
  line-height: 50px;
  width: 50px;
}

input {
  padding: 10px;
  border: 0.5px solid;
  border-radius: 5px;
  width: 250px;
}

button {
  border: none;
  width: 100px;
  height: 40px;
  background-color: coral;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
